*,*::before,*::after{
    box-sizing: border-box;
}

.img-slider-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.img-slider-btn{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: blackground-color 100ms ease-in-out;
}

.img-slider-btn :hover {
    background-color: black;
}

.img-slider-btn > * {
    stroke: white;
    fill: black;
}